.card {
    padding: 20px;

    flex-flow: column nowrap;
}

.card-image {
    width: auto;
    height: 200px;
}

.header-home-image {
    width: 250px;
}

.about-grid {
    padding: 0px;

    grid-template-columns: 150px 1fr;
}

.featured-header {
    flex-flow: row wrap;
    gap: 20px;
}

.skills-col--name {
    width: 35%;
}

.skills-col--evidence {
    width: 65%;
}

.other-interests-grid {
    grid-template-columns: repeat(2, 1fr);
}

.body-two-columns {
    flex-flow: column nowrap;
}

.contact-column {
    max-width: 100%;
}

.contact-column-top-section {
    position: relative;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 15px;
    align-self: center;
    justify-content: center;
    align-items: stretch;
}

#map {
    width: 100%;
    height: 250px;

    flex: 1 1 220px;
}

.contact-info {
    flex: 1 1 220px;
}

.quote-wrapper {
    padding-left: 20px;
    padding-right: 20px;
}